
.nav{
    background-color:yellowgreen;
    width: 100%;
    height: calc(100vh - 100px);
}
.main{
    background-color: blue;
    width: 100%;
    height: calc(100vh - 100px);
}
.main-nav{
    height: calc(100vh - 100px);
}
.footer{
    height: 100px;
}
.foot{
    background-color: blueviolet;
    height: 100px;
    z-index: 500;
}
.header{
    height: 100px;
    width: 100%;
    background-color: black;
}
.box{
    height: 100px;
    width: 100%;
    line-height: 100px;
}
#logo{
    width: 150px;
    
}


