main.debug {
    height:calc(100vh - 100px);
    background-color: aqua;
}
.debug aside{
    height:100%;
    background-color: #000;
}
.debug footer{
    height:100px;
    background-color:#282828;
}
.debug .main-content{
    height:100%;
    background-color:#141922;
}
.debug .box{
    height:calc(100vh - 100px);
}
.debug .upper-sidebar,
.debug .lower-sidebar{
    width:100%;
}
.debug .lower-sidebar{
    height:100px;
    background-color: black;
    flex-shrink: 1;
    z-index: 2;
    text-align: center;

}
/* Sidebar */
.sidebar-container{
    min-height:480px;
    height: calc(100vh - 100px);
    color:#fff;
}

.upper-sidebar{
    height: calc(100% - 150px);
}
.lower-sidebar .up{
    border-bottom: 2px solid lightgrey;

}
.lower-sidebar i{



}
.logo img{
    width:70%;
}

/* Sidebar debug part */

.debug .logo{
    width:100%;
    background-color: #000;
}

/* 
.debug .sidebar-menu{
    height:120px;
}
.debug .playlist-menu{
    height:200px;
} */

.playlist-menu{
    overflow:hidden;
    height:80%;
    /* min-height:400px; */
}
.temp-height{
    overflow-y: auto;
    height:50%;
    min-height: 120px;
}
/* Footer */
li a{
    text-decoration: none;
    color: lightslategray;
}
img{
    color: white;
}
footer{
    bottom:0;
    left:0;
    width:100%;
    z-index: 3;
}
/*--------NAV-------- */
ul{
    list-style: none;

}
li{
    color: lightslategray;
}
.sidebar-menu ul li a img{
    height: 30px;
    vertical-align: middle;
    margin: 0 5px 10px 0;
    color: lightslategray;
}
li i{
    font-size: 50px;
    vertical-align: middle;
    margin-right: 5px;
    color: lightslategray;

}
